# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
node_modules/

# testing
/coverage

# production
/dist

# misc
.DS_Store
.idea
notes.md
.env.local
.env
.env.development.locall
npm-debug.log*.local
yarn-debug.log*
yarn-error.log*
*.zipnpm-debug.log*


yarn-debug.log*
yarn-error.log*
*.zip

